/*About us css*/
#aboutUs{
  text-align:center;
}
h1 {
  font-size:2em;
}
.separate{
  border-top-style: solid;
  border-color:black;
}

#pic1{
  width:20%;
}

.head{
  font-size:1.5em;
  display:inline-block;
}


